body {
    font-family: Arial, sans-serif;	  	     	
  letter-spacing: 2px; 	
  background: linear-gradient(to bottom, black 5%, gray 98%);
}
.container-1{        	   
max-width: 1200px;   
    margin: 0 auto;
    padding: 20px;            
    background-color: #e7e3e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	
 height: 915px;	
border-radius: 10px;   
} 
.profile-img{
top: 10%;
    height: 180px;
    width: 180px;     	   
  border-radius: 50%; 
 margin-bottom: 20px;
  margin-left: 60px;
  border: 3px solid white;
  box-shadow: 6px 7px 9px 5px #fdaf48;  
object-fit: cover;
}	
.profile-img img{
  width: 100%;
height: 180px;
    width: 180px; 
margin-left: 60px
border: 3px solid white;
    border-radius: 50%;
object-fit: cover;
}
.para{
  margin-left: 50%;
  padding 10px;
}
.left{
   background-color:  #d6b9c7ec;
    width: 310px;
    height: 905px;
    float: left;
 border-radius: 10px;
}

.right{
   width: 650px;
    float: left;
}      
.hr-2{	   
margin-left: 60px;         
width: 550px;
border: 2px solid #fbb03b;

}      
.pleft{
    margin-bottom: 5px;
border: 2px solid black;	
text-align: center;
letter-spacing: 5px;
}
.contact-info{
padding: 5px 0px;
margin-left: 5px;
}
.expertise-info{
padding: 5px 0px;
margin-left: 5px;
}
.skills-info{
padding: 5px 0px;
margin-left: 5px;
}

.container-2{
 margin-left: 30%;
 text-align: auto;
 left: 110%;	
 
}
.objective{
margin-top: 40px;	   
}
.skill-container{
   width: 90%;
   background-color: #4d4d4d;
   margin: 0px 10px;
}	
.skill{ 
   text-align: left;
   padding-top: 2px;
   padding-bottom: 2px;
   color: white;
}
.tag{
height: 4px;
width: 94%;
background-color: #e63939; 
}
.eng{
height: 4px;
width: 87%;
background-color: #f73333; 
}
.title{
color: #d12357;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 0.40 20px;
margin-bottom: 20px;
}